/*Style Sheet for Hangman*/

@import url('https://fonts.googleapis.com/css?family=Sumana');

body {
	text-align: center;
	font-family: Helvetica, sans-serif;
	background: url("../images/sportsbackground2.jpeg") repeat;
	background-position: auto;
	color: white;
	outline-color: black;
	outline-width: 2px;
}
input {
	border: 2px solid #999;
	font-family: Helvetica, sans-serif;
	color: #999;
}

#underlinefield {
	font-family: 'Sumana', serif;
	font-size: 2.0em; 
}

h1 {
	font-family: 'Sumana', serif;
	font-size: 30px;
}

h2 {
	font-family: 'Sumana', serif;
}

